<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">	
    <title>ログイン画面</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>ログイン画面</h2>
    <form th:action="@{/login}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required /><br /><br />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required /><br /><br />
        <button type="submit">Login</button>
    </form>
	<!-- ログイン失敗時 -->
	<div th:if="${param.error}" style="color:red;">
    ユーザー名またはパスワードが間違っています
	</div>
	<!-- ログアウト完了時 -->
	<div th:if="${param.logout}" style="color:green;">
    ログアウトしました
	</div>
	<a href="/register">新規登録に戻る</a>
</body>
</html>
