<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h2>Register Page</h2>

    <!-- 登録フォーム -->
    <form action="#" th:action="@{/register}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required /><br /><br />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required /><br /><br />
        <label for="role">Role:</label>
        <input type="text" id="role" name="role" required /><br /><br />
        <button type="submit">Register</button>
    </form>
</body>
</html>
